.body {
    background-color: #f0f0f0;
}

.top-container {
    background-color: #e0eafd;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.main-container {

    margin: 0px;
    border-radius: 10px;

    max-width: 400px;
    margin: 0 auto;
}

.layui-btn-primary {
    background-color: #558ccf;
    color: white;
    border: none;
    border-color: #000000;
    /* Example: Blue border */
    border-style: solid;
    /* Required for border to show */
    border-width: 2px;
    /* Optional: Adjust border thickness */
}

.layui-btn-normal {
    background-color: #558ccf;
    color: white;
    border: none;
    border-color: #000000;
    /* Example: Blue border */
    border-style: solid;
    /* Required for border to show */
    border-width: 2px;
    /* Optional: Adjust border thickness */

}

.layui-btn:hover {
    opacity: 0.9;
}

.error-body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.error-container {
    text-align: center;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: none;
    /* Initially hidden */
}

.error-icon {
    font-size: 100px;
    color: #ff4d4f;
}

.error-title {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
}

.error-message {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.layui-btn {
    margin-top: 20px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    /* Smooth transition */
}

/* Button pressing effect */
.layui-btn:active {
    transform: scale(0.95);
    /* Slightly shrink the button */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Add a shadow effect */
}

.success-container {
    text-align: center;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: none;
    /* Initially hidden */
}

.success-icon {
    font-size: 100px;
    color: #52c41a;
    /* Green color for success */
}

.success-title {
    font-size: 24px;
    margin: 20px 0;
    color: #333;
}

.success-message {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

.layui-btn {
    margin-top: 20px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    /* Smooth transition */
}

.header-box {
    border: 1px solid black;
    /* Black border */
    border-radius: 10px;
    /* Rounded corners */
    padding: 5px;

    /* Padding inside the box */
    text-align: left;
    /* Center-align text */
    background-color: #b7dce7;
    /* Light background color */

    /* Spacing around the box */
    font-size: 16px;
    color: white;

    /* Font size */
    font-weight: bold;
    /* Bold text */
}